html {
	background: url("http://www.seanwooj.in/assets/background-ee52bf6d76c1340803ed226fbff94545.jpg");
	background-size: cover;
	background-attachment: fixed ;
}

body {
	font-family: "Sanchez", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

.header {
	background: #2ECC71;
	border-bottom: #27AE60 5px solid;
	min-height: 1em;
}

.header h1 {
	font-size: 1.5em;
	color: white;
	padding: 10px;
	float: left;
	clear: left;
}

.header ul.right {
	float: right;
	clear: right;
	height: 44px;
}

.header ul.right li {
	float: left;
	padding: 14px 10px 0 10px;
	height: 30px;
}

.header ul.right li a {
	color: white;
	text-decoration: none;
}

.header ul.right li:hover {
	background: #27AE60;
}

.timer-container {
	background: rgba(255,255,255,0.6);
	min-height: 100px;
	text-align: center;
	border-bottom: 5px solid rgba(200,200,200,0.6);
}

.timer {
	font-family: "Inconsolata", monospace;
	font-size: 10em;
	font-weight: 700;
	padding: 30px;
	display: block;
	color: #000;
}

.stats {
	text-align: center;
}

.stats-container {
	margin: 20px auto;
	background: #eee;
	padding: 20px;
	max-width: 300px;
	border-bottom: 5px solid #ddd;
	border-radius: 5px;
}

.stats-header {
	margin-bottom: 20px;
	font-size: 1.2em;
}

.stats-table {

}

.stats-row {
	font-size: .8em;
	padding: 6px;
	background: #fff;
	clear: both;
	min-height: 12px;
	margin: 5px;
}

.stat-key {
	float: left;
	clear: left;
}

.stat-value {
	float: right;
	clear: right;
}

.footer {
	background: #27AE60;
	border-top: #2ECC71 5px solid;
	min-height: 40px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footer a{
	color: white;
}

.footer a:hover {
	text-decoration: line-through;
}

.footer .left {
	margin-top: 10px;
	margin-left: 10px;
	display: block;
	color: white;
	float: left;
}

.footer .right {
	margin-top: 10px;
	margin-right: 10px;
	display: block;
	color: white;
	float: right;
}

/* Overlays */

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: none;
}

.modal {
	display:none;
	position: absolute;
	background: rgba(255,255,255,0.9);
	padding: 30px;
	border-bottom: 5px rgba(0,0,0,0.2) solid;
}

.modal .close {
	position: absolute;
	display: block;
	top: 0px;
	right: 7px;
	text-decoration: none;
	color: #666;
}

.modal h3 {
	margin-bottom: 10px;
	font-size: 1.5em;
}

.modal label {
	display: block;
}

.modal input {
	font-family:"Sanchez", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: rgba(0,0,0,0.3);
	border: none;
	border-top: 5px rgba(0,0,0,0.1) solid;
	font-size: 1.1em;
	height: 2em;
	padding: 0 10px 0 10px;
	color: white;
	margin: 10px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.modal .button {
	display: block;
	padding: 10px;
	height: 100%;
	background: #2ECC71;
	border: none;
	border-bottom: 5px rgba(0,0,0,0.1) solid;
	margin: 10px 0 0 0;
}

.modal .button:hover {
	background: #27AE60;
}